.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-grow: 1; 
}


.nav-item {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 20px; /* Keeps size consistent */
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Hover effect */
.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  color: black; 
}



.social-links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-links a {
  text-decoration: none;
}

.social-icon {
  font-size: 28px; 
  color: black; 
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #0077b5; 
}
