/* global.scss */
@import url('https://fonts.googleapis.com/css?family=Roboto'); 
$roboto-font: 'Roboto Light', sans-serif;


/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: $roboto-font;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
  
  /* Flexbox utility */
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  